<div class="well" id="newrestaurant">
{{#if showRestaurantForm}}
  <h1>Add a new question</h1>
  <form class="form-group">
    <label for="content">Question:</label>
    {{input value=content id="content" required=true}}

    <label for="author">Author:</label>
    {{input value=author id="author" required=true}}

    <label for="info">Additional Info:</label>
    {{input value=info id="info" required=true}}
  </form>
  <button class="btn btn-primary" {{ action "saveRestaurant"}}>Save Question </button>

{{else}}
  <button class ="btn btn-primary" {{ action "showRestaurantForm"}}>Add Question</button>
{{/if}}
</div>
