{{#if restaurant.inList}}
    <p> Already in List! </p>
  {{else}}
    <br />
    <button class="btn btn-primary"{{action 'addToFavorites' restaurant}}>Add to Favorites List</button>
  {{/if}}


<div class="panel panel-default detail">
  <div class="row">
    <div class="col-xs-12 restaurantdetail" style="background-image: url('{{restaurant.image }}')">
      <h1>{{restaurant.name }}</h1><br />
      <h3>{{fullAddress}}</h3>
      <h3><b>{{restaurant.type}}</b></h3>
      <!-- <h3>Rating {{avg-rating restaurant.reviews}} -->
    </div>
    <!-- <div class="col-xs-5">

      {{google-map restaurant=restaurant}}

    </div> -->
  </div>
</div>
<div class="reviewtile">
  <p>Reviews</p>
  <!-- <h5> rating:{{avg-rating restaurant.reviews}} </h5> -->
  {{#each restaurant.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</div>
