<div class="panel panel-default detail">
  <div class="row">
    <div class="col-xs-6 restaurantdetail">
      <h1>{{restaurant.name }}</h1><br />
      <h3>{{restaurant.address}}, {{restaurant.zip}}</h3>
      <h3><b>{{restaurant.type}}</b></h3>
    </div>
    <div class="col-xs-6 detailimage" style="background-image: url('{{restaurant.image }}')" >
    </div>
    </div>
</div>

{{#each restaurant.reviews as |review|}}
  {{review-tile review=review}}
{{/each}}
